/* Dark mode colors. */
:root {
	--sl-color-accent-low: #400d2a;
	--sl-color-accent: #bb007d;
	--sl-color-accent-high: #f4b2d1;
	--sl-color-white: #ffffff;
	--sl-color-gray-1: #ffe8e4;
	--sl-color-gray-2: #ffa89b;
	--sl-color-gray-3: #f14336;
	--sl-color-gray-4: #a80002;
	--sl-color-gray-5: #6f0001;
	--sl-color-gray-6: #500000;
	--sl-color-black: #360000;
}
/* Light mode colors. */
:root[data-theme='light'] {
	--sl-color-accent-low: #f9c6de;
	--sl-color-accent: #be007f;
	--sl-color-accent-high: #5d043c;
	--sl-color-white: #360000;
	--sl-color-gray-1: #500000;
	--sl-color-gray-2: #6f0001;
	--sl-color-gray-3: #a80002;
	--sl-color-gray-4: #f14336;
	--sl-color-gray-5: #ffa89b;
	--sl-color-gray-6: #ffe8e4;
	--sl-color-gray-7: #fff3f1;
	--sl-color-black: #ffffff;
}
