@charset "utf-8";
@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@300;400;600;700;900&display=swap');
/* Reset CSS and have everything border-box, setup keyframes and misc */
*, *:before, *:after {
    margin: 0;
    padding: 0;
    font-size: 100%;
    line-height: 1;
    box-sizing: border-box;
}
html, body {
    scroll-behavior: smooth;
    min-width: 320px;
    height: 100%;
    overflow-x: hidden;
}
@keyframes kf-white-beige-pastels {
    0%   { color: #ffffff; }
    5%   { color: #fdfdfd; }
    10%  { color: #fbfbfb; }
    15%  { color: #f8f8f8; }
    20%  { color: #f5f5f5; }
    25%  { color: #f3f3f3; }
    30%  { color: #f0f0f0; }
    35%  { color: #eeeeed; }
    40%  { color: #e3dfd0; }
    45%  { color: #cec6ab; }
    50%  { color: #b8ad86; }
    55%  { color: #a99c6e; }
    60%  { color: #b8ad86; }
    65%  { color: #cec6ab; }
    70%  { color: #e3dfd0; }
    75%  { color: #f8f4e3; }
    80%  { color: #faf5e1; }
    85%  { color: #fbf6e0; }
    90%  { color: #fcf6df; }
    95%  { color: #fef7dd; }
    100% { color: #fff8dc; }
}
@keyframes box-down-mover {
    0% { bottom: 0px; }
    10% { top: 1px; }
    20% { top: 3px; }
    30% { top: 5px; }
    40% { top: 7px; }
    50% { top: 9px; }
    60% { top: -9px; }
    70% { top: -7px; }
    80% { top: -5px; }
    90% { top: -3px; }
    100% { top: -1px; }
}

/*

I actually like Bootstrap and JQuery and so forth but I wanted to make
a website more basic and fresh
*/
/* Body and standard font sizing based upon media queries */
body, input, select, textarea, a, .boxes a {
    font-family: "Source Sans Pro", "Roboto", "Helvetica Neue", Helvetica, sans-serif;
    font-size: 16px;
    font-weight: 300;
    line-height: 1.65;
    color: rgba(255, 255, 255, 0.75);
    text-shadow: 2px 2px rgba(33,33,33,0.7);
    background-color: rgb(32,32,36);
    text-decoration: none;
    scroll-behavior: smooth;
}
p {
    line-height: 1.4;
    margin-top: 1rem;
    margin-bottom: 1rem; /* REMs are based upon font sizing, so this seems natural */
}
a:hover {
    transition: 0.2s;
    text-decoration: underline;
}
@media screen and (max-width: 1680px) {
    body, input, select, textarea {
        font-size: 11pt;
    }
}
@media screen and (max-width: 1280px) {
    body, input, select, textarea {
        font-size: 11pt;
    }
}
@media screen and (max-width: 980px) {
    body, input, select, textarea {
        font-size: 12pt;
    }
}
@media screen and (max-width: 736px) {
    body, input, select, textarea {
        font-size: 12pt;
    }
}
@media screen and (max-width: 480px) {
    body, input, select, textarea {
        font-size: 12pt;
    }
}
.border-7px-solid-red {
    border: 7px solid rgb(174,16,28);
}
.img-caption {
    font-size: 13px;
}

/* To top-of-the-page button */
#top {
    height: 0px;
}
#top-class {
    position: fixed;
    background-color: rgba(100,100,100,0.4);
    text-align: center;
    font-weight: bold;
    padding-top: 3px;
    width: 30px;
    height: 19px;
    font-weight: bold;
}
#top-class:hover {
    background-color: rgb(100,100,100);
}
@media screen and (max-width: 594px) {
    #top-class {
        bottom: 0%;
        right: 17px;
        border-top-left-radius: 5px;
        font-size: 11px;
    }
}
@media screen and (min-width: 595px) and (max-width: 776px) {
    #top-class {
        bottom: 3%;
        right: 17px;
        border-top-left-radius: 19px;
        border-bottom-left-radius: 19px;
        font-size: 9px;
    }
}
@media screen and (min-width: 777px) {
    #top-class {
        bottom: 3%;
        right: 3%;
        border-radius: 19px;
        font-size: 12px;
    }
}

/* Cards/Boxes Group - I know, I know, this vendor CSS is maddening */
.boxes, .container-fluid-full-width, .caption-box {
    display: -moz-flex;
    display: -webkit-flex;
    display: -ms-flex;
    display: flex;
    -moz-align-items: stretch;
    -webkit-align-items: stretch;
    -ms-align-items: stretch;
    align-items: stretch;
    -moz-justify-content: center;
    -webkit-justify-content: center;
    -ms-justify-content: center;
    justify-content: center;
    -moz-flex-wrap: wrap;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
}
/* Social Boxes Candy Bar */
.boxes .social-box-candy-bar {
    display: flex;
    flex-wrap: nowrap;
    position: relative;
    width: 79%;
    margin: 23px auto;
}
.boxes .social-box-candy-bar img {
    width: 65%;
}
/* Social Boxes */
.boxes .social-box {
    position: relative;
    background-color: rgb(33,33,33);
    margin-right: 19px;
    min-width: 126px;
    width: 31%;
    border-radius: 29px;
    padding: 19px;
}
.boxes .social-box:hover, .boxes .social-box-candy-bar {
    -webkit-box-shadow: 0px 0px 20px rgba(99,99,99,0.8);
    -moz-box-shadow:0 0 20px rgba(99,99,99,0.8);
    box-shadow: 0px 0px 20px rgba(99,99,99,0.8);
    animation-name: box-down-mover;
    animation-duration: 2s;
    animation-delay: -1s;
    animation-iteration-count: 3;
}
.boxes .social-box .inner a:hover {
    text-decoration: none;
}
.boxes .social-box .inner h3 {
    letter-spacing: 1px;
}
@media all and (max-width: 330px) {
    .boxes .social-box {
        margin-bottom: 19px;
    }
}
@media all and (min-width: 331px) and (max-width: 476px) {
    .boxes .social-box {
        margin-bottom: 9px;
    }
}

/* Flip Boxes */
.flip-box {
    background-color: transparent;
    border: 1px solid rgb(33,33,33);
    perspective: 1000px;
    margin: auto 19px;
    height: 400px;
    width: 299px;
}
.flip-box img {
    max-width: 99%;
    height: auto;
}
.flip-box-inner {
    position: relative;
    text-align: center;
    transform-style: preserve-3d;
    width: 100%;
    height: 100%;
    transition: transform 0.65s;
}
.flip-box:hover .flip-box-inner {
    transform: rotateX(180deg);
}
.flip-box-front, .flip-box-back {
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    position: absolute;
    width: 100%;
    height: 100%;
    border-radius: 19px;
    color: rgb(255,255,255);
    padding: 9px;
}
.flip-box-front {
    background-color: rgb(216,92,31);
}
.flip-box-back {
    transform: rotateX(180deg);
    background-color: rgb(255,116,48);
}
.flip-box-back a {
    text-decoration: none;
    background-color: rgb(255,116,48) !important;
}

/* Project and Full Boxes sizing */
.boxes .project-box {
    margin: 2em 1em 2em 1em;
    width: 30%;
}
.boxes .prominent-box, .boxes .project-box-wide {
    margin: 0em 1em 2em 1em;
    width: 47%;
}
.boxes .full-box {
    margin: 0em 1em 2em 1em;
    width: 97%;
}
@media screen and (max-width: 1280px) {
    .boxes .project-box, .boxes .project-box-wide {
        width: 45%;
    }
}
@media screen and (max-width: 736px) {
    .boxes .project-box, .boxes .project-box-wide {
        width: 97%;
    }
}

/* Project Box Individual */
.project-box, .project-box-wide, .prominent-box, .full-box {
    border-radius: 7px;
    margin-bottom: 2em;
    background: rgb(44,44,50);
    text-align: center;
    box-shadow: 0 0 7px rgb(22,22,22);
}
.project-box:hover, .project-box-wide:hover, .prominent-box:hover, .full-box:hover {
    box-shadow: 0 0 7px rgb(99,99,99);
}
.project-box > :last-child, .project-box > :last-child > :last-child, .project-box > :last-child > :last-child > :last-child,
.project-box-wide > :last-child, .project-box-wide > :last-child > :last-child, .project-box-wide > :last-child > :last-child > :last-child,
.prominent-box > :last-child, .prominent-box > :last-child > :last-child, .prominent-box > :last-child > :last-child > :last-child,
.full-box > :last-child, .full-box > :last-child > :last-child, .full-box > :last-child > :last-child > :last-child {
    margin-bottom: 0;
}
.project-box .image.fit, .project-box-wide .image.fit, .prominent-box .image.fit, .full-box .image.fit {
    margin: 0;
}
.project-box .image img, .project-box-wide .image img, .prominent-box .image img, .full-box .image img {
    border-radius: 7px 7px 0 0;
}
.project-box .inner, .project-box-wide .inner, .prominent-box .inner, .full-box .inner {
    padding: 1.5em;
    width: 100% !important;
}
@media screen and (max-width: 480px) {
    .project-box .inner, .project-box-wide .inner, .prominent-box .inner, .full-box .inner {
        padding: 1em;
    }
}
.project-box.alt, .project-box-wide.alt, .prominent-box.alt, .full-box.alt {
    border: 0;
    border-radius: 0;
    padding: 0;
}
/* project box for thenextphase */
#thenextphase > .full-box > img {
    padding-top: 19px;
}


/* box-image */
.box-image {
    border-radius: 4px;
    border: 0;
    display: inline-block;
    position: relative;
}
.box-image img {
    border-radius: 4px;
    display: block;
}
.box-image.left, .box-image.right {
    max-width: 40%;
}
.box-image.left img, .box-image.right img {
    width: 100%;
}
.box-image.left {
    float: left;
    padding: 0 1.5em 1em 0;
    top: 0.25em;
}
.box-image.right {
    float: right;
    padding: 0 0 1em 1.5em;
    top: 0.25em;
}
.box-image.fit, .box-image.fit-nomargin {
    display: block;
    width: 100%;
}
.box-image.fit {
    margin: 0 0 2em 0;
}
.box-image.fit-nomargin {
    margin: 0;
}
.box-image.fit img, .box-image.fit-nomargin {
    width: 100%;
}
.box-image.main {
    display: block;
    margin: 0 0 3em 0;
    width: 100%;
}
.box-image.main img {
    width: 100%;
}


/* Main, Footer spacing */
main {
    padding: 0em 0em 2em 0em;
}
footer {
    padding: 2em 0em 2em 0em;
    background-color: rgb(27,27,31);
}
footer .content {
    font-size: 19px;
    line-height: 1.9;
    width: 95%;
    display: grid;
}
footer a {
    font-size: 19px;
}
@media screen and (max-width: 999px) {
    footer .content {
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
        grid-template-areas:
            "imprint-logo"
            "imprint-sitemap"
            "imprint-gordon-on-the-web"
            "imprint-qrcodes"
            "imprint-text";    
    }
    .imprint-sitemap a, .imprint-gordon-on-the-web a {
        font-size: 21px;
    }
}
@media screen and (min-width: 1000px) and (max-width: 1347px) {
    footer .content {
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr;
        grid-template-areas:
            "imprint-logo imprint-sitemap"
            "imprint-gordon-on-the-web imprint-qrcodes"
            "imprint-text imprint-text";
    }
    .imprint-sitemap a, .imprint-gordon-on-the-web a {
        font-size: 19px;
    }
}
@media screen and (min-width: 1348px) and (max-width: 1453px) {
    footer .content {
        grid-template-columns: 1fr 1fr 1fr 1fr;
        grid-template-rows: 1fr 1fr;
        grid-template-areas:
            "imprint-logo imprint-sitemap imprint-gordon-on-the-web imprint-qrcodes"
            "imprint-text imprint-text imprint-text imprint-text";    
    }
    .imprint-sitemap a, .imprint-gordon-on-the-web a {
        font-size: 19px;
    }
}
@media screen and (min-width: 1454px) {
    footer .content {
        grid-template-columns: 1fr 1fr 1fr 1fr;
        grid-template-rows: 1fr 1fr;
        grid-template-areas:
            "imprint-logo imprint-sitemap imprint-gordon-on-the-web imprint-qrcodes"
            "imprint-text imprint-text imprint-text imprint-text";    
    }
    .imprint-sitemap a, .imprint-gordon-on-the-web a {
        font-size: 23px;
    }
}
footer .content a {
    text-decoration: none;
}
footer .content a:hover {
    border-bottom: 3px solid rgb(240,240,240);
}
footer .content .imprint-logo {
    grid-area: imprint-logo;
    place-self: center;
}
footer .content .imprint-sitemap {
    grid-area: imprint-sitemap;
    place-self: center;
    line-height: 1.5;
}
footer .content .imprint-gordon-on-the-web {
    grid-area: imprint-gordon-on-the-web;
    place-self: center;
    line-height: 1.5;
}
footer .content .imprint-qrcodes {
    grid-area: imprint-qrcodes;
    place-self: center;
}
footer .content .imprint-text {
    grid-area: imprint-text;
    align-self: center;
    line-height: 1.2;
}
main .content, footer .content {
    width: 90%;
    max-width: 80em;
    margin: 0 auto;
}
@media screen and (max-width: 480px) {
    main .content, footer .content {
        width: 95%;
    }
}


/* Container-fluid-full-width div */
.container-fluid-full-width, .caption-box {
    width: 99.225vw;
    position: relative;
    margin-left: -49.59vw;
    left: 50%;
    padding: 29px 19px;
    text-align: center;
}
.container-fluid-full-width > div.width-58, .caption-box > div.width-58 {
    width: 58%;
}
.container-fluid-full-width {
    background-color: rgb(0,0,0);
    color: rgb(255,255,255);
}
.caption-box {
    background-color: rgb(44,44,44);
    color: rgb(255,255,255);
}
/* Essentially a full-width fluid container with a title */
.caption-box {
    font-weight: 900;
}
@media screen and (max-width: 594px) {
    .caption-box {
        font-size: 27px;
    }
}
@media screen and (min-width: 595px) {
    .caption-box {
        font-size: 37px;
    }
}
/* Intro Banner Section */
.content-introtext {
    font-size: 23px;
    line-height: 1.7;
}


/* Button Themeing */
input[type="submit"], input[type="reset"], input[type="button"], button, .button {
    -moz-appearance: none;
    -webkit-appearance: none;
    -ms-appearance: none;
    appearance: none;
    -moz-transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out;
    -webkit-transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out;
    -ms-transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out;
    transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out;
    background-color: rgb(112,199,190);
    border-radius: 4px;
    border: 0;
    color: rgb(255,255,255);
    cursor: pointer;
    display: inline-block;
    font-weight: 400;
    height: 2.85em;
    line-height: 2.95em;
    padding-top: 0.5em;
    text-align: center;
    text-decoration: none;
    white-space: nowrap;
}
input[type="submit"]:hover, input[type="reset"]:hover, input[type="button"]:hover, button:hover, .button:hover {
    background-color: rgb(130,206,198);
}
input[type="submit"]:active, input[type="reset"]:active, input[type="button"]:active, button:active, .button:active {
    background-color: rgb(94,192,182);
}
input[type="submit"].icon, input[type="reset"].icon, input[type="button"].icon, button.icon, .button.icon {
    padding-left: 1.35em;
}
input[type="submit"].icon:before, input[type="reset"].icon:before, input[type="button"].icon:before, button.icon:before, .button.icon:before {
    margin-right: 0.5em;
}
input[type="submit"].fit, input[type="reset"].fit, input[type="button"].fit, button.fit, .button.fit {
    display: block;
    margin: 0 0 1em 0;
    width: 100%;
}
input[type="submit"].small, input[type="reset"].small, input[type="button"].small, button.small, .button.small {
    font-size: 0.8em;
}
input[type="submit"].big, input[type="reset"].big, input[type="button"].big, button.big, .button.big {
    font-size: 1.35em;
}
input[type="submit"].disabled, input[type="submit"]:disabled, input[type="reset"].disabled, input[type="reset"]:disabled, input[type="button"].disabled, input[type="button"]:disabled, button.disabled,
button:disabled, .button.disabled, .button:disabled {
    background-color: rgba(255, 255, 255, 0.75) !important;
    box-shadow: inset 0 -0.15em 0 0 rgba(0, 0, 0, 0.15);
    color: rgb(32,32,36) !important;
    cursor: default;
    opacity: 0.25;
}
input[type="submit"].style2, input[type="reset"].style2, input[type="button"].style2, button.style2, .button.style2 {
    background-color: rgb(127,146,207);
}
input[type="submit"].style2:hover, input[type="reset"].style2:hover, input[type="button"].style2:hover, button.style2:hover, .button.style2:hover {
    background-color: rgb(146,162,214);
}
input[type="submit"].style2:active, input[type="reset"].style2:active, input[type="button"].style2:active, button.style2:active, .button.style2:active {
    background-color: rgb(108,130,200);
}
input[type="submit"].style3, input[type="reset"].style3, input[type="button"].style3, button.style3, .button.style3 {
    background-color: rgb(157,126,208);
}
input[type="submit"].style3:hover, input[type="reset"].style3:hover, input[type="button"].style3:hover, button.style3:hover, .button.style3:hover {
    background-color: rgb(171,145,215);
}
input[type="submit"].style3:active, input[type="reset"].style3:active, input[type="button"].style3:active, button.style3:active, .button.style3:active {
    background-color: rgb(143,107,201);
}
@media screen and (max-width: 480px) {
    input[type="submit"], input[type="reset"], input[type="button"], button, .button {
        padding: 0;
    }
}


/* Hero banner with video
z-index: 0 video (default layer of webpage)
z-index: 1 overlay for captions
z-index: 2 overlay for lower link bar
*/
#hero-banner, #hero-banner-project, .container-fluid-full-width, .caption-box {
    text-align: center;
    align-items: center;
    justify-content: center;
    position: relative;
}
#hero-banner {
    width: 100%;
    max-height: 566px;
    min-height: 566px;
    margin: 0;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
#hero-banner > video {
    display: block;
    width: 100%;
    height: 566px;
    z-index: 0;
    object-fit: cover;
    overflow: hidden;
}
.hero-banner-bg-chemistry {
    background-image: url("../images/gordon-stevens-chemical-engineering-hero-banner.jpg");
}
.hero-banner-bg-genetics {
    background-image: url("../images/gordon-stevens-genetics-research-hero-banner.jpg");
}
.hero-banner-bg-research {
    background-image: url("../images/gordon-stevens-research-hero-banner.jpg");
}
.hero-banner-bg-business {
    background-image: url("../images/gordon-stevens-business-bitcoin-hero-banner.jpg");
}
.hero-banner-bg-softwareai {
    background-image: url("../images/gordon-stevens-software-development-artificial-intelligence-hero-banner-1.png");
}
.hero-banner-bg-course-outlines {
    background-image: url("../images/gordon-stevens-course-outlines-hero-banner.jpg");
}

/* Hero banner caption */
#hero-banner .overlay-caption {
    z-index: 1;
    position: absolute;
    color: rgb(255,255,255);
    background: rgba(66,66,66,0.65);
    padding: 15px 20px;
    line-height: 1.4;
    font-weight: 700;
    text-shadow: 1px 1px 2px rgb(0,0,0), 0px 0px 25px rgb(255,116,48), 0px 0px 5px rgb(216,92,31);
    animation-name: kf-white-beige-pastels;
    animation-duration: 9s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}
#hero-banner .overlay-caption hr {
    color: rgb(179,212,252);
    height: 3px;
}
@media (min-width: 768px) {
    #hero-banner .overlay-caption {
        top: 30%;
        text-align: left;
        font-weight: 900;
        font-size: 28px;
    }
    #hero-banner .overlay-caption p {
        display: inline-block;
        padding: 0 8px;
        margin-bottom: 5px;
    }
}
@media (min-width: 992px) {
    #hero-banner .overlay-caption {
        width: 63%;
        font-weight: 900;
        font-size: 31px;
    }
}
@media (min-width: 1200px) {
    #hero-banner .overlay-caption {
        width: 63%;
        max-width: 757px;
        font-weight: 900;
        font-size: 37px;
    }
}
#hero-banner .overlay-upperbar, #hero-banner-project .overlay-upperbar {
    position: absolute;
    top: 0;
    left: 0;
    padding: 9px;
    right: 0;
    background-color: rgba(0,0,0,0.25);
    padding-bottom: 19px;
    z-index: 2;
    height: 55px;
    opacity: 0.6;
    transition: 1.2s;
}
#hero-banner .overlay-upperbar:hover, #hero-banner-project .overlay-upperbar:hover {
    opacity: 1.0;
}

/* Hero banner lowerbar */
#hero-banner .overlay-lowerbar, #hero-banner-project .overlay-lowerbar {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(0,0,0,0.25);
    padding-top: 19px;
    z-index: 2;
}
#overlay-lowerbar-contact-0, #overlay-lowerbar-contact-1 {
    animation-name: box-down-mover;
    animation-duration: 2s;
    animation-delay: -1s;
    animation-iteration-count: 3;
}
@media all and (min-width: 1347px) {
    #hero-banner .overlay-lowerbar ul {
        width: 100%;
        max-width: 999em;
        margin: 0 auto;
    }
}
@media all and (min-width: 1124px) {
    #hero-banner .overlay-lowerbar, #hero-banner-project .overlay-lowerbar {
        height: 89px;
    }
    #hero-banner .overlay-lowerbar #overlay-lowerbar-contact-1 {
        display: none;
    }
}
@media all and (min-width: 903px) and (max-width: 1123px) {
    #hero-banner .overlay-lowerbar, #hero-banner-project .overlay-lowerbar {
        height: 148px;
    }
    #hero-banner .overlay-lowerbar #overlay-lowerbar-contact-0 {
        display: none;
    }
    #hero-banner .overlay-lowerbar > ul > li {
        margin-bottom: 19px;
    }
}
@media all and (min-width: 681px) and (max-width: 902px) {
    #hero-banner .overlay-caption {
        display: none;
    }
    #hero-banner .overlay-lowerbar, #hero-banner-project .overlay-lowerbar {
        height: 149px;
    }
    #hero-banner .overlay-lowerbar #overlay-lowerbar-contact-0 {
        display: none;
    }
    #hero-banner .overlay-lowerbar > ul > li {
        margin-bottom: 19px;
    }
}
@media all and (min-width: 458px) and (max-width: 680px) {
    #hero-banner .overlay-caption {
        display: none;
    }
    #hero-banner .overlay-lowerbar, #hero-banner-project .overlay-lowerbar {
        height: 193px;
    }
    #hero-banner .overlay-lowerbar #overlay-lowerbar-contact-0 {
        display: none;
    }
    #hero-banner .overlay-lowerbar > ul > li {
        margin-bottom: 19px;
    }
}
@media all and (max-width: 457px) {
    #hero-banner .overlay-caption {
        display: none;
    }
    #hero-banner .overlay-lowerbar #overlay-lowerbar-contact-0 {
        display: none;
    }
    #hero-banner .overlay-lowerbar, #hero-banner-project .overlay-lowerbar {
        height: 343px;
    }
    #hero-banner .overlay-lowerbar > ul > li {
        margin-bottom: 19px;
    }
}
#hero-banner .overlay-lowerbar > ul > li, #hero-banner-project .overlay-lowerbar > ul > li {
    display: inline-block;
    padding: 0px 11px;
    width: 219px;
    bottom: 0;
}
#hero-banner .overlay-lowerbar > ul > li > a, #hero-banner-project .overlay-lowerbar > ul > li > a {
    text-align: center;
    text-decoration: none;
    font-weight: 500;
    font-size: 14px;
    text-transform: uppercase;
    letter-spacing: 1px;
}
#hero-banner .overlay-lowerbar > ul > li > a > .title, #hero-banner .overlay-lowerbar > ul > li > a > .description,
#hero-banner-project .overlay-lowerbar > ul > li > a > .title, #hero-banner-project .overlay-lowerbar > ul > li > a > .description {
    text-transform: uppercase;
    text-align: center;
    letter-spacing: 1px;
    margin-bottom: 3px;
}
#hero-banner .overlay-lowerbar > ul > li > a > .title, #hero-banner-project .overlay-lowerbar > ul > li > a > .title {
    font-weight: 300;
    font-size: 11px;
    color: rgb(255,255,255);
}
#hero-banner .overlay-lowerbar > ul > li > a > .description, #hero-banner-project .overlay-lowerbar > ul > li > a > .description {
    font-weight: 500;
    font-size: 13px;
    letter-spacing: 1px;
    color: rgb(255,255,255);
}
#hero-banner .overlay-lowerbar > ul > li > a > .readmore, #hero-banner-project .overlay-lowerbar > ul > li > a > .readmore {
    padding: 2px 5px;
    background-color: rgba(0, 0, 0, 0.6);
    font-weight: 500;
    font-size: 9px;
    text-transform: uppercase;
    text-align: center;
    color: rgb(255,255,255);
    letter-spacing: 1px;
    border: 1px solid rgba(255, 255, 255, 0.6);
}
#hero-banner .overlay-lowerbar > ul > li > a > .contact, #hero-banner-project .overlay-lowerbar > ul > li > a > .contact {
    padding: 2px 5px;
    background-color: rgba(0, 0, 0, 0.6);
    font-weight: 500;
    font-size: 27px;
    text-transform: uppercase;
    text-align: center;
    color: rgb(255,116,48);
    letter-spacing: 1px;
    border: 3px solid rgb(255,116,48);
    animation-name: box-down-mover;
    animation-duration: 2s;
    animation-delay: -1s;
    animation-iteration-count: 3;
}


/* Hero banner for projects */
#hero-banner-project {
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    min-height: 100%;
}
#hero-banner-project > .overlay-caption {
    z-index: 1;
    position: absolute;
    left: 0;
    top: 50%;
    width: 100%;
    text-align: center; 
    color: rgb(0,0,0);
    word-wrap: break-word;

}
#hero-banner-project > .overlay-caption > .content {      
    background-color: #111;
    color: rgb(255,255,255);
    animation-name: kf-white-beige-pastels;
    animation-duration: 10s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    font-weight: 700;
}
@media all and (min-width: 1124px) {
    #hero-banner-project > .overlay-caption > .content {      
        font-size: 25px;
        letter-spacing: 7px;
        padding: 18px;
    }
}
@media all and (min-width: 903px) and (max-width: 1123px) {
    #hero-banner-project > .overlay-caption > .content {
        font-size: 23px;
        letter-spacing: 7px;
        padding: 18px;
    }
}
@media all and (min-width: 800px) and (max-width: 902px) {
    #hero-banner-project > .overlay-caption > .content {
        font-size: 19px;
        letter-spacing: 7px;
        padding: 18px;
    }
}
@media all and (min-width: 720px) and (max-width: 799px) {
    #hero-banner-project > .overlay-caption > .content {
        font-size: 16px;
        letter-spacing: 6px;
        padding: 18px;
    }
}
@media all and (min-width: 400px) and (max-width: 719px) {
    #hero-banner-project > .overlay-caption > .content {
        font-size: 12px;
        letter-spacing: 2px;
        padding: 14px;
    }
}
@media all and (max-width: 399px) {
    #hero-banner-project > .overlay-caption > .content {
        font-size: 12px;
        letter-spacing: 2px;
        padding: 14px;
    }
}

@media all and (min-width: 1125px) {
    #hero-banner-project .overlay-lowerbar #overlay-lowerbar-contact-1 {
        display: none;
    }
}
@media all and (max-width: 1124px) {
    #hero-banner-project .overlay-lowerbar #overlay-lowerbar-contact-0 {
        display: none;
    }
    #hero-banner-project .overlay-lowerbar li {
        margin-bottom: 11px;
    }
}

#section-contact {
    color: rgba(255, 255, 255, 0.75);
    font-size: 32px;
    letter-spacing: 1px;
}
#section-contact p {
    margin-bottom: 29px;
}
#section-contact .imprint-email, #section-contact .imprint-email-colourful {
    background-color: rgb(32,32,32);
    font-weight: bold;
    transition: 0.9s;
    animation-name: kf-white-beige-pastels;
    animation-duration: 7s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}
@media screen and (max-width: 874px) {
    #section-contact .imprint-email, #section-contact .imprint-email-colourful {
        border: 3px solid rgba(255, 255, 255, 0.75);
        padding: 9px;
        font-size: 21px;
        letter-spacing: 1px;
    }
}
@media screen and (min-width: 875px) and (max-width: 1139px) {
    #section-contact .imprint-email, #section-contact .imprint-email-colourful {
        border: 3px solid rgba(255, 255, 255, 0.75);
        padding: 17px;
        font-size: 31px;
        letter-spacing: 3px;
    }
}
@media screen and (min-width: 1140px) and (max-width: 1490px) {
    #section-contact .imprint-email, #section-contact .imprint-email-colourful {
        border: 9px solid rgba(255, 255, 255, 0.75);
        padding: 23px;
        font-size: 52px;
        letter-spacing: 5px;
    }
}
@media screen and (min-width: 1491px) {
    #section-contact .imprint-email, #section-contact .imprint-email-colourful {
        border: 7px solid rgba(255, 255, 255, 0.75);
        padding: 21px !important;
        font-size: 73px;
        letter-spacing: 7px;
    }
}
#section-contact .imprint-email a:hover {
    color: rgba(221, 116, 48, 0.75);
    border: 7px solid rgba(221, 116, 48, 0.75);
    background-color: rgb(64,64,64);
    text-decoration: none;
    font-weight: bold;
}
#section-contact .imprint-email-colourful {
    text-decoration: none;
    line-height: 1;
    position: relative;
    z-index: 0;
    display: inline-block;
    overflow: hidden;
    vertical-align: bottom;
    transition: color 0.3s ease-out;
}
#section-contact .imprint-email-colourful::before {
    content: "";
    position: absolute;
    z-index: -1;
    top: 0;
    left: 0;
    transform: translateY(calc(100% - 2px));
    width: 100%;
    height: 100%;
    background-image: linear-gradient(60deg, rgb(100,179,244) 0%, rgb(194,229,156) 100%);
    transition: transform 0.25s ease-out;
}
#section-contact .imprint-email-colourful:hover { 
    color: rgb(255,255,255); 
}
#section-contact .imprint-email-colourful:hover::before {
    transform: translateY(0);
    transition: transform 0.25s ease-out;
}
#section-contact .imprint-social {
    margin-top: 29px;
}
#section-contact .imprint-social a {
    padding: 21px;
    font-size: 21px;
    background-color: rgb(32,32,32);
    letter-spacing: 5px;
    font-weight: bold;
    transition: 0.9s;
}
#section-contact .imprint-social a:hover {
    color: rgba(221, 116, 48, 0.75);
    text-decoration: none;
    font-weight: bold;
}

.tbl {
    display: table;
    margin: 0 auto;
}
.tbl-inline {
    display: inline-table;
}
.tbl-row {
    display: table-row;
}
.tbl-row-header {
    display: table-row;
}
.tbl-row-header>.tbl-cell {
    border-bottom: 9px solid rgb(240,240,240);
}
.tbl-row:nth-child(odd) {
    display: table-row;
    background-color: rgba(221, 116, 48, 0.11);
}
.tbl-row-group {
    display: table-row-group;
}
.tbl-column {
    display: table-column;
}
.tbl-column-group {
    display: table-column-group;
}
.tbl-cell {
    display: table-cell;
    padding: 5px;
    margin-right: 3px;
}
.tbl-cell-left {
    display: table-cell;
    padding: 5px;
    margin-right: 3px;
    text-align: left;
}
.tbl-header-group {
    display: table-header-group;
}
.tbl-footer-group {
    display: table-footer-group;
}
.tbl-caption {
    display: table-caption;
    font-weight: bold;
    margin-bottom: 9px;
}


/* Ticker Tape - Removed: @-webkit-keyframes */
@keyframes ticker {
    0% {
        -webkit-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0);
        visibility: visible;
    }
    
    100% {
        -webkit-transform: translate3d(-100%, 0, 0);
        transform: translate3d(-100%, 0, 0);
    }
}
.ticker-wrap { 
    box-sizing: content-box;
    /*position: fixed;
    /*bottom: 0;*/
    overflow: hidden;
    padding-left: 100%;
    width: 100%;
    background-color: rgba(0,0,0,0.85); 
    height: 4rem;
}
.ticker {
    box-sizing: content-box;
    display: inline-block;
    white-space: nowrap;
    padding-right: 100%;
    height: 4rem;
    line-height: 4rem;  
    -webkit-animation-iteration-count: infinite; 
    animation-iteration-count: infinite;
    -webkit-animation-timing-function: linear;
    animation-timing-function: linear;
    -webkit-animation-name: ticker;
    animation-name: ticker;
    -webkit-animation-duration: 30sec;
    animation-duration: 30sec;
}

.ticker__item {
    display: inline-block;
    padding: 0 2rem;
    font-size: 2rem;
    color: rgb(255,255,255);   
}

/* Timeline (Vertical) */
/*
dark black rgb(27,27,31);
light black rgba(66,66,66,0.65);
dark orange rgb(216,92,31);
light orange rgb(255,116,48);
Old cyanish #006E51
*/
.timeline {
    position: relative;
    width: 100%;
    max-width: 1140px;
    margin: 0 auto;
    padding: 15px 0;
}
  
.timeline::after {
    content: '';
    position: absolute;
    width: 2px;
    background: rgb(216,92,31);
    top: 0;
    bottom: 0;
    left: 50%;
    margin-left: -1px;
}
.timeline-container {
    padding: 15px 30px;
    position: relative;
    background: inherit;
    width: 50%;
}
.timeline-container.left {
    left: 0;
} 
.timeline-container.right {
    left: 50%;
}
.timeline-container::after {
    content: '';
    position: absolute;
    width: 16px;
    height: 16px;
    top: calc(50% - 8px);
    right: -8px;
    background: rgb(255,255,255);
    border: 2px solid rgb(216,92,31);
    border-radius: 16px;
    z-index: 1;
}
.timeline-container.right::after {
    left: -8px;
}
.timeline-container::before {
    content: '';
    position: absolute;
    width: 50px;
    height: 2px;
    top: calc(50% - 1px);
    right: 8px;
    background: rgb(216,92,31);
    z-index: 1;
}
.timeline-container.right::before {
    left: 8px;
}
.timeline-container .date {
    position: absolute;
    display: inline-block;
    top: calc(50% - 8px);
    text-align: center;
    font-size: 14px;
    font-weight: bold;
    color: rgb(255,116,48);
    text-transform: uppercase;
    letter-spacing: 1px;
    z-index: 1;
}
.timeline-container.left .date {
    right: -95px;
}
.timeline-container.right .date {
    left: -95px;
}
.timeline-container .content {
    padding: 30px 90px 30px 30px;
    background: rgba(66,66,66,0.65);
    position: relative;
    border-radius: 0 500px 500px 0;
}
.timeline-container.right .content {
    padding: 30px 30px 30px 90px;
    border-radius: 500px 0 0 500px;
}
.timeline-container .content h2 {
    margin: 0 0 10px 0;
    font-size: 18px;
    font-weight: 700;
    color: rgb(255,116,48);
}
.timeline-container .content p {
    margin: 0;
    font-size: 16px;
    line-height: 22px;
    color: rgb(255,255,255);
}
@media (max-width: 767px) {
    .timeline::after {
        left: 90px;
    }
    .timeline-container {
        width: 100%;
        padding-left: 120px;
        padding-right: 30px;
    }
    .timeline-container.right {
        left: 0%;
    }
    .timeline-container.left::after,.timeline-container.right::after {
        left: 82px;
    }
    .timeline-container.left::before,.timeline-container.right::before {
        left: 100px;
        border-color: transparent rgb(216,92,31) transparent transparent;
    }
    .timeline-container.left .date,.timeline-container.right .date {
        right: auto;
        left: 15px;
    }
    .timeline-container.left .content,.timeline-container.right .content {
        padding: 30px 30px 30px 90px;
        border-radius: 0px;
    }
}


/* Timeline (Horizontal, with 4 panels */
.horiz-4-timeline {
    display: flex;
    /* height: 100vh; */
    height: 75vh;
    background-color: rgb(3,22,37);
    line-height: 1.75;
    font-family: "Source Sans Pro", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 16px;
}
.horiz-4-timeline:hover .tl-item {
    width: 23.3%;
}
.horiz-4-tl-item {
    transform: translate3d(0,0,0);
    position: relative;
    width: 25%;
    /*height: 100vh;*/
    min-height: 600px;
    color: rgb(255,255,255);
    overflow: hidden;
    transition: width 0.5s ease;
}
.horiz-4-tl-item:before, .horiz-4-tl-item:after {
    transform: translate3d(0,0,0);
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
}
.horiz-4-tl-item:after {
    background: rgba(3,22,37,0.85);
    opacity: 1;
    transition: opacity 0.5s ease;
}
.horiz-4-tl-item:before {
    background: linear-gradient(to bottom, rgba(0,0,0,0) 0%, rgba(0,0,0,1) 75%);
    z-index: 1;
    opacity: 0;
    transform: translate3d(0,0,0) translateY(50%);
    transition: opacity 0.5s ease, transform 0.5s ease;
}
.horiz-4-tl-item:hover {
    width: 30% !important;
}
.horiz-4-tl-item:hover:after {
    opacity: 0;
}
.horiz-4-tl-item:hover:before {
    opacity: 1;
    transform: translate3d(0,0,0) translateY(0);
    transition: opacity 1s ease, transform 1s ease 0.25s;
}
.horiz-4-tl-item:hover .horiz-4-tl-content {
    opacity: 1;
    transform: translateY(0);
    transition: all 0.75s ease 0.5s;
}
.horiz-4-tl-item:hover .horiz-4-tl-bg {
    filter: grayscale(0);
}
.horiz-4-tl-content {
    transform: translate3d(0,0,0) translateY(25px);
    position: relative;
    z-index: 1;
    text-align: center;
    margin: 0 1.618em;
    top: 55%;
    opacity: 0;
}
.horiz-4-tl-content h1 {
    text-transform: uppercase;
    color: rgb(23,121,207);
    font-size: 1.44rem;
    font-weight: normal;
}
.horiz-4-tl-year {
    /*
    top: 50%;
    transform: translateX(-50%) translateY(-50%);
    */ 
    top: 25%;
    transform: translateX(-50%) translateY(-25%); 
    left: 50%;
    position: absolute;
    z-index: 1;
    border-top: 1px solid rgb(255,255,255);
    border-bottom: 1px solid rgb(255,255,255);
}
.horiz-4-tl-year p {
    font-size: 1.728rem;
    line-height: 0;
}
.horiz-4-tl-bg {
    transform: translate3d(0,0,0);
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-size: cover;
    background-position: center center;
    transition: filter 0.5s ease;
    filter: grayscale(100%);
}


/* Those times when you just want a button, and you know the CSS, but hey time is money and YOLO: https://cssbuttoncreator.com/ */
.button_back_to_home_page {
    background: rgb(61,246,136);
    background-image: -webkit-linear-gradient(top, rgb(61,246,136), rgba(208,161,30,0.96));
    background-image: -moz-linear-gradient(top, rgb(61,246,136), rgba(208,161,30,0.96));
    background-image: -o-linear-gradient(top, rgb(61,246,136), rgba(208,161,30,0.96));
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    border-radius: 20px;
    color: rgb(44,44,50);
    font-size: 40px;
    font-weight: 100;
    padding: 40px;
    -webkit-box-shadow: 1px 1px 20px 0px rgb(0,0,0);
    -moz-box-shadow: 1px 1px 20px 0px rgb(0,0,0);
    box-shadow: 1px 1px 20px 0px rgb(0,0,0);
    text-shadow: 1px 1px 20px rgb(255,174,0);
    border: solid rgb(51,127,237) 1px;
    text-decoration: none;
    display: inline-block;
    cursor: pointer;
    text-align: center;
 }
