---
import PrincesseuhIcon from './PrincesseuhIcon.astro';
---

<section class="box skills">
	<div class="stack gap-2 lg:gap-4">
		<PrincesseuhIcon icon="compass-rose" color="var(--accent-regular)" size="2.5rem" gradient />
		<h2>Data Governance and Ethics</h2>
		<p>Trained and experienced in using data: architecture, modelling and design, storage and operations, security, interoperability, documents and content, references and master data, data warehousing and business intelligence, meta-data, and data quality.</p>
	</div>
	<div class="stack gap-2 lg:gap-4">
		<PrincesseuhIcon icon="database" color="var(--accent-regular)" size="2.5rem" gradient />
		<h2>Databases</h2>
		<p>I have experience using SQL and NoSQL, the language family of databases, business requirements, regulations, analysis, design, and implementation, including SQLServer, MySQL, Oracle, DB2, and PostgreSQL.</p>
	</div>
</section>

<section class="box skills">
	<div class="stack gap-2 lg:gap-4">
		<PrincesseuhIcon icon="crosshair" color="var(--accent-regular)" size="2.5rem" gradient />
		<h2>Data Analysis</h2>
		<p>Data analysis includes Extract, Transform, and Load "ETL" which is a time consuming part of the work, but it helps the analyst understand the data, and decide on how to process and understand the data. I use tools such as Salesforce Tableau, Apache Spark/DataBricks, and Python programming language with it's various addon packages. Modern data analysis is all about data, AI, CRM, and governance, as well as presenting the results as information in a story-telling way.</p>
	</div>
	<div class="stack gap-2 lg:gap-4">
		<PrincesseuhIcon icon="devices" color="var(--accent-regular)" size="2.5rem" gradient />
		<h2>Software Development</h2>
		<p>Software Development is a vast and complex field, which uses skills to design, develop, deploy, monitor, and develop software solutions which are built to sell you a pair of shoes which you cannot try on until after the purchase, or to fix some of today's hardest and most important problems.</p>
	</div>
</section>

<section class="box skills">
	<div class="stack gap-2 lg:gap-4">
		<PrincesseuhIcon icon="circuitry" color="var(--accent-regular)" size="2.5rem" gradient />
		<h2>Artificial Intelligence</h2>
		<p>Advanced python programming, data analysis, batch and real-time systems, cloud services AWS and Azure and how to implement big data and machine learning, Natural Language Processing (NLP), processing data from electronic sensors, networking, supervised learning (when you know how to label the data), unsupervised learning (when you don't know what the data is really), neural networks, deep neural networks, and data governance. We used famous AI packages OpenCV, Scikit Learn, Google Tensorflow, and more!</p>
	</div>
	<div class="stack gap-2 lg:gap-4">
		<PrincesseuhIcon icon="frame-corners" color="var(--accent-regular)" size="2.5rem" gradient />
		<h2>Web Development</h2>
		<p>Depending upon requirements, I use WordPress and hold licencing for e-commerce (WooCommerce) compatible themes, plugins for SEO, file sharing, and tons more functionality going well beyond the idea of a simple blog website. No wonder more than 43% of the clearweb internet reportedly uses WordPress. Joomla and SiteCore are also popular. I can also use Astro, Shopify, or even hand-code a website.</p>
	</div>
</section>

<section class="box skills">
	<div class="stack gap-2 lg:gap-4">
		<PrincesseuhIcon icon="chart-line-up" color="var(--accent-regular)" size="2.5rem" gradient />
		<h2>Digital Marketing</h2>
		<p>Search Engine Optimisation (SEO), Search Engine Marketing (SEM), advertisement campaigns, user interface and experience design (UI/UX), copywriting, sales funnels, and E-mail campaigns.</p>
	</div>
	<div class="stack gap-2 lg:gap-4">
		<PrincesseuhIcon icon="drone" color="var(--accent-regular)" size="2.5rem" gradient />
		<h2>Digital Design</h2>
		<p>I am a licenced Canadian Drone Pilot, and I use photography drones and cameras to capture the moment and enhance it in post-production.</p>
	</div>
</section>

<section class="box skills">
	<div class="stack gap-2 lg:gap-4">
		<PrincesseuhIcon icon="globe" color="var(--accent-regular)" size="2.5rem" gradient />
		<h2>International Business Development</h2>
		<p>International Business Development can be challenging; cross-border customs, global logistics, changing financial markets, business may have to be conducted in a culture, multiple offices, and more. I have been trained in trade research and market analysis, using technology in business, project management, global business, supply chain, customs, international law, accounting, banking, and finance, marketing, advertising, and sustainability and ethics. All of this was brought together into a comprehensive international business plan, making a strong case for exporting Canadian lighting products to Ireland. This was the work of a dynamic and focused group of 4 people over an 8-month span.</p>
	</div>
	<div class="stack gap-2 lg:gap-4">
		<PrincesseuhIcon icon="trolly" color="var(--accent-regular)" size="2.5rem" gradient />
		<h2>Supply Chain Management and Logistics</h2>
		<p>I have been trained in managing global supply chains, including logistics, warehousing, demand planning, inventory management, risk management, risk management, business planning, purchasing and supplier management, project management, operations management, customs and regulations, ethics, international accounting, law, and finance. Supply Chain Management is an integrated approach to business management, and I have specialised training such as Risk Mitigation for Supply Chain and Marketing for Supply Chain.</p>
	</div>
</section>

<section class="box skills">
	<div class="stack gap-2 lg:gap-4">
		<PrincesseuhIcon icon="chalkboard-teacher" color="var(--accent-regular)" size="2.5rem" gradient />
		<h2>Education and Instruction</h2>
		<p>
			My first job was in education, as an Internet and Technology educator working under contract with Industry Canada (now Innovation, Science, and Economic Development Canada). I taught small business owners and members of the local community about the then-new technology called the Internet. While it was more primitive then, it was still fun to introduce literacy in technology and get people excited about technology. The contract was renewed 3 times on continued merit.
			After this I finished secondary school and continued to post-secondary, where between different colleges and universities, I attended over 100 post-secondary courses.	
			In software development, I use a world-leading Learning Management System (LMS) called "Moodle" which I can setup, adminstrate, and develop courses.
		</p>
	</div>
	<div class="stack gap-2 lg:gap-4">
		<PrincesseuhIcon icon="flask" color="var(--accent-regular)" size="2.5rem" gradient />
		<h2>Science, Research, and Laboratory</h2>
		<p>
			Physics, chemistry, and biology always interested me in school, but in high school I found the curriculum to be lack luster and boring. I knew that in post-secondary it became a lot more interesting and had a lot less of the classical introductory topics.
			My initial interest in science was how does the world work on sub-atomic, atomic, nanoscale, microscale, and macroscale all at once, in the same time and place.
			However, not only did I learn about that, I learned about skills such as group work, deadlines, what is expected at different levels of education, how to present, how to stick with a project through adversity, and how to effectively fund post-secondary education.
			In science I learned analytical chemistry, inorganic chemistry, organic chemistry, environmental chemistry, biology, laboratory practices, and much, much more.
			I worked in a chemical reactor lab alongside a prominent Ph.D. student (now post-doctorate graduate) to understand and quantify a pilot-scale chemical reactor. I also worked in a genetics laboratory finding a way to genetically disrupt a water-borne pathogen commonly found in African rain water.
			I specialised in Chemical Extraction technology, extracting the essential oils out of a catnip plant, to produce a catnip oil spray.
		</p>
	</div>
</section>

<style>
	.box {
		border: 1px solid var(--gray-800);
		border-radius: 0.75rem;
		padding: 1.5rem;
		background-color: var(--gray-999_40);
		box-shadow: var(--shadow-sm);
	}
	.skills {
		display: flex;
		flex-direction: column;
		gap: 3rem;
	}
	.skills h2 {
		font-size: var(--text-lg);
	}
	.skills p {
		color: var(--gray-400);
	}
	@media (min-width: 50em) {
		.box {
			border-radius: 1.5rem;
			padding: 2.5rem;
		}
		.skills {
			display: grid;
			grid-template-columns: repeat(2, 1fr); /* was repeat(3, 1fr); */
			gap: 5rem;
		}
		.skills h2 {
			font-size: var(--text-2xl);
		}
	}
</style>
